<ion-view title="Booking">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>{{detail.room_id}}</h2>
        <div>
            <p>{{detail.address}}</p>
        </div>
        <div>
            <p>{{detail.date | date}}</p>
        </div>
        <div>
            <p>{{detail.startTime}} - {{detail.endTime}}</p>
        </div>
        <button class="button flat button-icon icon-left ion-android-unlock">Unlock Door</a>
        <button class="button flat button-stable button-icon icon-left ion-ios-partlysunny-outline">AC</a>
        <a href="#/homepage" class="button button-assertive button-block book" ng-click="book()">Book Slot</a>
    </ion-content>
</ion-view>